/* FEUILLE DE STYLE PAGE D'ACCUEIL */

main {
    min-height: 100vh;
    background: url("../images/accueil/consolemix.jpg") no-repeat center/ cover;
}
 
h1 {
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-weight: bold !important;
    padding-top: 2em !important;
    font-size: 28px !important;
    color: #ffffff;
    text-shadow: 0.04em 0.05em 0.03em rgb(47, 172, 255);
}

p {
    color: rgb(230, 174, 34);
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 1em !important;
}

.section1{
    padding:7%;
}

.section2 {
    min-height:35vh;
    background: url("../images/accueil/ingeson.jpg") no-repeat center/ cover;
}

.section3 {
    text-align: center;
    padding: 7%;
}

.section4 {
    height: 25vh;
    display: flex;
}

.section4 .micro {
    background: url("../images/accueil/rode.jpg") no-repeat center/ cover;
}

.section4 .photo{
    background: url("../images/accueil/canon.jpg") no-repeat center/ cover;
}

.section5 {
    text-align: center;
    padding: 7%;
}

.carousel-item{
    height: 45vh;
}

.section6{
    margin-bottom: 3em;
}

/*mis en forme du bouton "retour en haut"*/
#scrollup i{
    color: rgb(230, 174, 34);
    font-size: 30px;
}
#scrollup{
    position: fixed;
    bottom: 0.5em;
    right: 1em;
    /* opacity: 0.8; */
    margin-bottom: 11em;
}

/* Nouvelles règles pour le format tablette (entre 767px et 991.98px)*/ 
@media (min-width: 767px) and (max-width: 991.98px) {

    h1{
        font-size: 70px !important;
        padding-top: 2.3em;

    }


    main {
        min-height: 90vh;
    }
    
    .section1{
        padding:7%;
    }
    
    .section2{
        min-height: 50vh !important;
    }

    .section4 {
        height: 35vh;
    }
    
    .section5 {
        padding: 7%;
    }
    
    .carousel-item{
        height: 65vh;
    }
    
    .section6{
        margin-bottom: 5em;
    }

    p{
        font-size: 2em !important;
    }
}

/* Nouvelles règles pour le format desktop (991.99px)*/ 
@media (min-width: 991.99px) {

    h1{
        font-size: 90px !important;
        padding-top: 1.5em !important;
    }

    main {
        min-height: 90vh;
    }
    
    .section1{
        padding: 8%;
    }

    .section2 {
        min-height: 60vh !important;
    }
    
    .section4 {
        height: 40vh;
    }
    
    .section5 {
        padding: 8%;
    }
    
    .carousel-item{
        height: 60vh;
    }
    
    p{
        font-size: 2.5em !important;
    }
}


/* Nouvelles règles pour le format desktop (1439)*/ 
@media (min-width: 1439px) {
    main {
        min-height: 90vh;
    }
    
    .section1{
        padding: 8%;
    }

    .section2 {
        min-height: 85vh !important;
    }
    
    .section4 {
        height: 60vh;
    }
    
    .section5 {
        padding: 8%;
    }
    
    .carousel-item{
        height: 110vh;
    }    

    .w-50{
        width: 50% !important;
    }
}